#head {
background-color: rgb(201, 117, 0);
text-align: center;
}

.frame {
    border: 8px solid rgb(77, 28, 4);
    background: rgb(0, 0, 0);
    padding: 10px ;
}

.leftarticle {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 33%;
    height:100%;
    background-color: rgb(201, 117, 0);
    text-align: left;
}

.centerarticle {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 33%;
    height:100%;
    background-color: rgb(201, 117, 0);
    text-align: left;
}

.main {
    display:flex;
    align-items: center;
    flex:1;
}